@import url('https://fonts.googleapis.com/css2?family=Anton&family=Tangerine:wght@700&family=Young+Serif&display=swap');

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #e2e2e2;
  border-radius: 3px;
  border: 0px solid #e0e0e0;
}

*{
  margin: 0px auto;
  box-sizing: border-box;
  outline: red 1px dashed;
}
body{
  background-color: #161616;
  height: 1000px;
}
.background{
  background-image: url('assets/background.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bg-title{
  color: #fcfcfc;
  font-family: 'Anton', sans-serif;
  font-size: 7rem;
  mix-blend-mode: soft-light;
  text-shadow: rgb(21, 21, 21, 0.7) 0px 0px 20px;
}
#first-section{
  width: 100%;
}
#first-section p{
  width: 100%;
  padding: 50px;
  text-align: center;
  color: #fcfcfc;
  font-family: "Young Serif";
  font-size: 5rem;
  text-shadow: rgb(252, 252, 252, 0.3) 0px 0px 15px;
}
.weapons-holder{
  width: 90%;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
.weapon-card{
  width: 200px;
  height: 500px;
}